.main {
  padding-bottom: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: @tablet-width-only) {
    padding: 0 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: @mobile-width-only) {
    padding: 0 15px;
  }
}

.main__head {
  width: 100%;
  display: flex;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
  }
}

.main__info,
.main__sales {
  @media (max-width: @tablet-width-only) {
    margin-bottom: 25px;
  }
}

